:root {
  /* main colors */
  --primary: #ED6486;
  --secondary:#5F5DC8 ;
  --grey: #E9E5E6;
  
  --text-primary: #DA4167;
  --text-dark: #262225;
  --text-grey: #B0ADAE;

  --divider: rgba(0, 0, 0, 0.06);

  /* chip colors */
  --keep-color: #488DDF;
  --keep-chip-color: rgba(72, 141, 223, 0.1);
  --borrow-color: #31B7BF;
  --borrow-chip-color: rgba(49, 183, 191, 0.1);
  --giveaway-color: #1A9569;
  --giveaway-chip-color: rgba(26, 149, 105, 0.1);
  --favor-color: #D25FB9;
  --favor-chip-color: rgba(210, 95, 185, 0.1);
  --time-color: #B0ADAE;
  --time-chip-color: rgba(176, 173, 174, 0.15);
  --unselected-chip-color: rgba(176, 173, 174, 0.47);

  /* shadows */
  --shadow-btn: 1px 2px 7px rgba(0, 0, 0, 0.11), 0.5px 1px 2.5px rgba(0, 0, 0, 0.18);
  --shadow-btn-active: 0.5px 1px 2px rgba(0, 0, 0, 0.3);
  --shadow-card: 2px 4px 13px rgba(0, 0, 0, 0.06), 1px 2px 5px rgba(0, 0, 0, 0.1);


  --header-height: 60px;
  --nav-height: 68px;

}
@font-face {
  font-family: "Brandon Grotesque";
  src: url(../fonts/BrandonGrotesque-Regular.woff2) format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: "Brandon Grotesque";
  src: url(../fonts/BrandonGrotesque-Light.woff2) format('woff2');
  font-weight: 200;
}
@font-face {
  font-family: "Brandon Grotesque";
  src: url(../fonts/BrandonGrotesque-Bold.woff2) format('woff2');
  font-weight: 600;
}

body {
  font: 14px "Source Sans Pro", sans-serif;
  color: var(--text-dark);
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: env(safe-area-inset-bottom,0px)
}

a {
  color: #00B7FF;
}

.slide {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  left: 100vw;
  transition: all .3s ease;
  padding-top: var(--header-height);
}
.slide.in {
  left: 0;
}

.content-container {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-top: var(--header-height);
  /* padding-bottom: calc(var(--nav-height) + 48px); */
}

.bottom-shadow {
  position: relative;
  height: 100%;
}
.bottom-shadow::before {
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  height: 100px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
}
.empty {
  color: var(--text-grey);
  text-align: center;
}

.scrollable::after {
  /* .scrollable > *:last-child::after { */
  content: "";
  /* height: calc(var(--nav-height) + 48px); */
  height: 300px;
  display: block;
  flex-shrink: 0;
}