<!DOCTYPE html>
<html>
  <head>
    <%- include('../components/head'); %>
    <style type="text/css">
      body {
        background-color: #F3F3F3;
      }
      
    </style>
    
  </head>
  <body>
    <%- include('../components/nav-bars', {page:'home',title:'ZipShare'}); %>
    <%- include('../components/button', {type:'primary',size:'small',text:'open page',id:'press-me'}); %>
    <!-- request-details should slide open when someone clicks on a post card -->
    <div id="request-details" class="slide"></div>
    
    <script>
            $('#press-me').click(() => {
        $.post('/test', data => {
          $('#request-details').html(data)
          openSlide();
          $('#test').click(() => {
            closeSlide();
          })
        })
      })
      const foo = 2;
    </script>
  </body>
</html>
