<!DOCTYPE html>
<html>
  <head>
    <%- include('../components/head'); %>
    <style type="text/css">
      body {
        background-color: #F3F3F3;
      }
    </style>
  </head>
  <body>
    <%- include('../components/nav-bars', {page:'home',title:'App Name'}); %>
    
  </body>
</html>
